---
layout: default
title: 所有文章
---

<h2>📄 所有文章</h2>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-item">
      {% if post.image %}
        <img
          src="{{ site.baseurl }}{{ post.image }}"
          alt="{{ post.title }}"
          class="post-thumb"
          loading="lazy"
          width="240" height="160">
      {% endif %}
      <div class="post-info">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
      </div>
    </li>
  {% endfor %}
</ul>
