<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Momo in RA</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head.html %}
  </head>
  <body>
    <main>

      <header>
        <h1><a href="{{ '/' | relative_url }}">Momo in RA</a></h1>
        <p class="subtitle">法規初心者 Regulatory newbie 的日常搏鬥。求同行一起在 RA 黑森林裡組隊打怪！</p>
      </header>

     <nav class="navbar">
  <div class="nav-left">
    <ul>
      <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
      <li>
        <a href="{{ '/categories/' | relative_url }}"
           class="{% if page.url contains '/categories/' %}active{% endif %}">
          Categories
        </a>
      </li>
      <li>
        <a href="{{ '/about.html' | relative_url }}"
           class="{% if page.url contains 'about' %}active{% endif %}">
          About
        </a>
      </li>
    </ul>
  </div>

  <div class="nav-right">
    <a href="{{ '/search/' | relative_url }}" aria-label="Search">
      <img src="{{ '/assets/images/search.svg' | relative_url }}" alt="Search" class="icon">
    </a>
  </div>
</nav>


      {{ content }}

    </main>
    {% include footer.html %}
  </body>
</html>

