<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Momo in RA</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head.html %}
  </head>
  <body>
    <main>

      <header>
        <h1><a href="{{ '/' | relative_url }}">Momo in RA</a></h1>
        <p class="subtitle">法規初心者 Regulatory newbie</p>
      </header>

     <nav class="navbar">
  <ul>
    <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">首頁</a></li>
    <li><a href="{{ '/all-posts.html' | relative_url }}" class="{% if page.url contains 'all-posts' %}active{% endif %}">📄 所有文章</a></li>
    <li><a href="{{ '/about.html' | relative_url }}" class="{% if page.url contains 'about' %}active{% endif %}">📨 關於我</a></li>
  </ul>
</nav>



      {{ content }}

    </main>
    {% include footer.html %}
  </body>
</html>

